greeting {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    /* background-image: url('https://lh3.googleusercontent.com/NTCTXvONVLnriwhSHgltgfxux3E-MD-8opJb23OXscknB-hwaRLQiiGl3Nnxe5S0Rye_C3Zq2CZFE8D8zJFOhBOQLRMX2kUtTHDz5vuV1npiQ7w_W4lYzFsbJmyOrGGOhU4HL1rgyg=w2400');
    background-size: cover; */
}

a {
    text-decoration: none;
    color: darkgreen;
    font-family: "Ubuntu-Bold";
}

.headshot-c {
    width: 70%;
    max-width: 15rem;
    border: thick double black;
    margin-bottom: 0.5rem;
}

.desktop-welcome {
    display: none;
}

.desktop-info {
    display: none;
}

.desktop-tech-info {
    display: none;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.5rem;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo-c {
    width: 1.5rem;
    margin: .5rem;
}


.direction {
    text-align: center;
    margin: 2.5rem;
    color: darkgreen;
}

.tech-direction {
    text-align: center;
    margin: 2.5rem;
    color: darkgreen;
}


/* Small devices (landscape phones, 480px and up) */
/* @media (min-width: 480px) { ... } */
/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */
/* Large devices (desktops, 980px and up) */
@media (min-width: 980px) {
    greeting {
        display: flex;
        flex-flow: row;
        text-align:inherit;
        margin-bottom: 2.5rem;
        /* background-image: url('https://lh3.googleusercontent.com/NTCTXvONVLnriwhSHgltgfxux3E-MD-8opJb23OXscknB-hwaRLQiiGl3Nnxe5S0Rye_C3Zq2CZFE8D8zJFOhBOQLRMX2kUtTHDz5vuV1npiQ7w_W4lYzFsbJmyOrGGOhU4HL1rgyg=w2400');
        background-size: cover; */
    }

    .greeting-info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    .mobile-welcome {
        display: none;
    }

    .desktop-welcome {
        display: inherit;
    }

    .mobile-tech-info {
        display: none;
    }

    .desktop-tech-info {
        display: inherit;
    }

    .desktop-info {
        display: inherit;
    }

    .technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-bottom: 2.5rem;
    }

    .tech-direction {
        display: none;
    }
}
/* Extra large devices (large desktops, 1220px and up) */
/* @media (min-width: 1220px) { ... } */
/* Extra extra large devices (large desktops, 1440px and up) */
/* @media (min-width: 1440px) { ... } */

