/* button {
    border-radius: 100%;
    width: 2.5rem;
    margin: 0.2rem;
} */

button:hover {
    cursor: pointer;
}

.gallery-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0rem;
}

.gallery-images {
    max-width: 30rem;
    min-width: 15rem;
    border: thick double black;
}

.buttons-c {
    display:flex;
    justify-content: center;
}

.story-text {
    max-width: 35rem;
}

/* Small devices (landscape phones, 480px and up) */
/* @media (min-width: 480px) { ... } */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .gallery-images {
        min-width: 30rem;
        /* max-height: 15rem; */
    }

    .gallery-c {
        margin: 0rem 2rem;
    }
}
/* Large devices (desktops, 980px and up) */
/* @media (min-width: 980px) { ... } */
/* Extra large devices (large desktops, 1220px and up) */
/* @media (min-width: 1220px) { ... } */
/* Extra extra large devices (large desktops, 1440px and up) */
/* @media (min-width: 1440px) { ... } */