header {
    background: white;
    margin-bottom: 1.15rem;
    border-bottom: 2px solid black;
}

h2 {
    margin: 0px;
}

.link {
    color: darkgreen;
    text-decoration: none;
    margin-left: 10px;
}