header {
    position: fixed;
    width: 100%;
    top: 0rem;
    left: 0rem;
    z-index: 1000;

    background: white;
    margin-bottom: 1.15rem;
    border-bottom: 2px solid black;
    padding: 0px 10px;
    height: 2.25rem;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h2 {
    margin: 0px;
    font-size: 0.5rem;
}

divider {
    border: 0.5px solid rgb(221, 221, 221);
    margin-top: 5px;
}

.link {
    color: darkgreen;
    text-decoration: none;
    padding: 5px;
}

.side-border {
    border-right: 3px dashed #bbb;;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-icon {
    width: 1.70rem;
    height: 1.70rem;
    margin: 0.5rem;
}


/* Small devices (landscape phones, 480px and up) */
/* @media (min-width: 480px) { ... } */
/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */
/* Large devices (desktops, 980px and up) */
/* @media (min-width: 980px) { ... } */
/* Extra large devices (large desktops, 1220px and up) */
/* @media (min-width: 1220px) { ... } */
/* Extra extra large devices (large desktops, 1440px and up) */
/* @media (min-width: 1440px) { ... } */