projectcard {
  /* width: 360px; */
  padding: 20px;
  display: flex;
  font-size: 1.1rem;
  height: 25%;
  background-color: transparent;
  transition: background-color .25s;
  margin: 20px 0;
}

projectcard:hover {
  transition: background-color .25s;
  background-color: rgb(237, 227, 227);
}

.image-container {
  width: stretch;
  height: stretch;
  margin-top: 1rem;
}

.project-image {
  vertical-align: middle;
}

projectcard > div {
  padding: 10px;
}

/* .project-card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px 25px 15px;
} */

.info {
  width: inherit;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info > div > a {
  text-decoration: none;
  color: darkgreen;
  margin: 16px;
}

.technologies {
  display: flex;
  flex-direction: row;
  margin-top: 0.45rem;
}

.technologies > h5 {
  color: green;
  margin-right: 0.46rem;
  margin-bottom: 0.95rem;
}

@media screen and (max-width: 1000px) {
  .project-card {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

}