projectcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  height: auto;
  transition: background-color .25s;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
}

projectcard:hover {
  transition: background-color .25s;
  background-color: rgb(237, 227, 227);
}

.projectcard-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

projectcard > p {
  text-align: center;
}

.image-container {
  width: 100%;
  border: thick double black;
}

.techused {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.45rem;
}

.techused > h5 {
  color: green;
  margin-right: 0.46rem;
  margin-bottom: 0.95rem;
}

.desktop-project-title {
    display: none;
}

/* Small devices (landscape phones, 480px and up) */
/* @media (min-width: 480px) { ... } */
/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */
/* Large devices (desktops, 980px and up) */
@media (min-width: 980px) {
  /* projectcard {

  }

  .projectcard-info {
    display
  } */

  .mobile-project-title {
    display: none;
  }
  .desktop-project-title {
    display: inherit;
  }
}
/* Extra large devices (large desktops, 1220px and up) */
/* @media (min-width: 1220px) { ... } */
/* Extra extra large devices (large desktops, 1440px and up) */
/* @media (min-width: 1440px) { ... } */